// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


$textColor : darkgrey;
$backgroundColor : white;

body *{
    color: $textColor;
}

body{

    font-family: fantasy;
    background-color: $backgroundColor;

    h1{
        font-size: 3em;
        color: $textColor  ;
    }

    h1, h2{
        width: 100%;
        text-align:center;
        font-weight: bold;
    }

    h2{
        font-size: 1.5em;
        color : White  ;
        background-color: DarkCyan  ;
    }

    .main-content{
        padding:0;
        margin-top: 209px;
    }

}
